$accent-blue: #109CF1;
$yellow: #FFB946;
$red: #F7685B;
$green: #2ED47A;
$purple: #885AF8;
$black: #192A3E;
$table-black: #323C47;
$table-gray: #707683;
$dark-blue-text: #334D6E;
$gray: #90A0B7;
$icon-gray: #C2CFE0;
$white: #FFFFFF;
$main-background: #E5E5E5;


@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('../fonts/poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000 !important;
  text-decoration: none
}
body {
  background-color: #F5F6F8;
  overflow-x: hidden;
  font-family: 'Poppins-Medium';
}
.bac {
  background: rebeccapurple;
}
.container {
  margin-top: 60px;
  margin-left: 256px;
}

.containerToggle {
  margin-left: 80px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 256px;
  background: $white;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  height: 100%;
  padding-top: 60px;
  transition: .5s;
}
.profile-container {
  border-bottom: 1px solid #EBEFF2;
  padding: 0 24px 24px 24px;
}
.block-name {
  padding: 17px 0 17px 0;
  .name {
    color: $accent-blue;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
}
.profile {
  padding: 20px 0 20px 0;
  display: flex;
  .profile-info{
    display: flex;
    .profile-photo {
      width: 47px;
      height: 47px;
    }
    .profile-photo__mini {
      border-radius: 50%;
    }
    .profile-block {
      padding-left: 9px;
      .profile__email {
        font-size: 11px;
        line-height: 16px;
        color: $gray;
      }
    }
  }
}
.mnu, .setting-wrap {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
}
.mnu-item {
  display: flex;
  padding-top: 20px;
  cursor: pointer;
  &__name {
    padding-left: 16.5px;
  }
  &:hover, .mnu-item__name:hover {
    color: $accent-blue;
  }
  &:hover .mnu-item__svg{
    stroke: $accent-blue;
  }
}
.checkedToggle {
  fill: #109CF1;
}
.setting-wrap {
  display: flex;
}
.setting {
  display: flex;
  align-items: center;
  &:hover .fil__svg {
    fill: $accent-blue;
  }
}
.setting-wrap{
  padding-left: 24px;
}
.toggle-wrap {
  padding-left: 24px;
  position: relative;
  bottom: 2%;
}
.toggle {
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $gray;
  &:hover .fil__svg {
    fill: $accent-blue;
  }
}

.content {
  width: 100%;
}
.sidebar-name-inner {
  width: 290px;
  margin: 0px auto 0px 24px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: $white;
  align-items: center;
  border-bottom: 1px solid #EBEFF2;
  //padding: 0 40px;
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 24px;
    .searching {
      font-family: 'Poppins-Regular';
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #90A0B7;
    }
    .search-string {
      display: flex;
      align-items: center;
      width: 100%;
      //max-width: 300px;
      //margin-left: 270px;
    }
    & input, & button {
      border: none;
      outline: none;
      background: transparent;
      display: flex;
      align-items: center;
    }
    & input {
      width: 80%;
      height: 60px;
    }
    & button {
      cursor: pointer;
      padding-right: 15px;
    }
    .notification {
      position: relative;
      cursor: pointer;
      //margin-left: auto;
      //margin-right: 80px;
      .notification__point::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #F7685B;
      }
    }
  }
}
//THIS
.base-wrapper {
  padding: 20px;
  display: flex;
}
.dd-wrap,  {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #FFFFFF;
  padding: 15px;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.progress-check {
  padding: 0 24px;
}
.task {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334D6E;
  .data-filter {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #6A707E;
  }
}
.wrap__progress-line {
  padding-top: 16px;
  padding-bottom: 20px;
  width: 100%;
}
.progress-line {
  position: relative;
  width: 100%;
  height: 4px;
  background: #EBEFF2;
  border-radius: 3px;
  &::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 80%;
    background: #2ED47A;
    border-radius: 3px;
  }
}
.progres-wrap {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //flex-wrap: wrap;
  align-items: center;
}
.calendar-week {
  padding: 0 24px;
  border-bottom: 1px solid #EBEFF2;
  .days-week {
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 27px;
  }
}
.number__day {
  padding-top: 8px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #4C5862;
}
.name__day {
  font-size: 13px;
  line-height: 19px;  text-align: center;
  letter-spacing: 0.01em;color: #334D6E;
  opacity: 0.5;
}
.now__day {
  color: #FFFFFF;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    border-radius: 50%;
    background: #109CF1;
  }
  &::after {
    content: '23';
    position: absolute;
    color: #FFFFFF;
    left: 4px;
    bottom: -3px;
  }
}
.drag-drop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px 0 24px;

}
//THIS
.card {
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px;
  margin-top: 24px;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
  }
  &:hover .edit-control {
    opacity: 1;
    transition: .2s;
  }
}

.identical-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .identical__status {
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.01em;
    color: $gray;
  }
}
.identical-status_inner {
  display: flex;
  justify-content: flex-end;
}
.status-event {
  display: flex;
  .edit-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    cursor: pointer;
  }
}
.control {
  margin-left: 10px;
}
.eclipse {
  padding-right: 8px;
}
.status__name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 22px;
  color: $white;
  border-radius: 4px;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.end {
  background: $red;
}
.complited {
  background: $green;
}
.event-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.events__name {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: $table-black;
}
.date {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #192A3E;
}
.events-date {
  display: flex;
  .due {
    padding-right: 5px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4C5862;
  }
  .due__date {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #4C5862;
  }
}
.person-block {
  padding-top: 22px;
  display: flex;
  align-items: center;
}
.person-photo {
  width: 24px;
  height: 24px;
  .mini__photo {
    border-radius: 50%;
  }
}
.person__name {
  padding-left: 12px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #707683;
}
.show-more {
  margin-top: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #109CF1;
}
.calendar {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  padding: 28px 24px 17px 24px;
}
.progres-calendar-wrapper {
  width: 100%;
  max-width: 450px;
}
.arrow {
  cursor: pointer;
}
.nameMonthWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
}
.monthDayWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.tableBody {
  width: 100%;
}
.nameDayWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: rgba(0, 0, 0, 0.6);
}
.nameDay {
  width: 32px;
  height: 32px;
}
.numberDay {
  width: 32px;
  height: 32px;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
  padding-top: 10px;
}
.blue {
  position: relative;
  color: #FFFFFF;
  &::before {
    content: '';
    position: absolute;
    width: 42px;
    height: 42px;
    background: $accent-blue;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
  &::after {
    content: '1';
    position: absolute;
    color: #FFFFFF;
    left: 50%;
  }
}
.stat {
  background: $white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  max-width: 445px;
  margin-top: 24px;
  width: 100%;
}
.diagram-header {
  font-family: 'Poppins-Regular';
  font-style: normal;
  font-size: 15px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  padding: 15px 24px 15px 24px;
  letter-spacing: 0.01em;
  color: #192A3E;
  border-bottom: 1px solid #EBEFF2;
}
.progress-compl-task {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #192A3E;
}
.diagram-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 33px 0;
}
.diagram-info_vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.point-wrapper {
  display: flex;
  flex-direction: column;
}
.info-point {
  display: flex;
  padding-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #192A3E;
  .info-point__name {
    padding-left: 8px;
  }
}
.diagram-circle {
  background: $white;
  width: 224px;
  height: 224px;
  text-align: center;
  font-weight: 500;
  font-size: 56px;
  line-height: 84px;
  text-align: center;
  color: #2ED47A;
  border: 8px solid #2ED47A;
  border-right: 8px solid #FFB946;
  border-bottom: 8px solid #F7685B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.diagram-circle__proc {
  font-size: 0.6em;
}
.contact-sort {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #6A707E;
  cursor: pointer;
}
.contact-sort__list {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $accent-blue;
  background: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}
//CONTACT-PAGE
.contact {
  padding: 35px 24px 0 24px;
}
.contact-command {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contact-sort {
  display: flex;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #6A707E;
  cursor: pointer;
}
.contact-sort__list {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $accent-blue;
  background: none;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.add__contact {
  width: 160px;
  height: 42px;
  border: none;
  background: #109CF1;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background: #34AFF9;
    box-shadow: 0px 8px 16px rgba(52, 175, 249, 0.2);
  }
}
.contact-inner {
  padding-top: 24px;
}
.contact-list {
  border-radius: 4px;
  background: #FFFFFF;
  width: 100%;
}
.list-header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334D6E;
  opacity: 0.5;
  padding: 22px 24px 22px 24px;
}
.list-cheackbox__sort {
  cursor: pointer;
}
.row-space {
  display: flex;
  align-items: center;
}
.row-space-cbx {
  display: flex;
  align-items: center;
}
.form__cbx {
  z-index: -1;
  opacity: 0;
}
.form__cbx + label {
  position: relative;
  cursor: pointer;
}
.form__cbx + label:before {
  content: "";
  position: absolute;
  top: -8px;
  left: -14px;
  width: 16px;
  height: 16px;
  border: 2px solid #D5D5D5;
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.2s;
}
.form__cbx + label:after {
  content: "";
  position: absolute;
  top: -4px;
  left: -11px;
  width: 8px;
  height: 4px;
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(-45deg);
}
.form__cbx:checked + label:before {
  background: #109CF1;
  border: #109CF1;
}
.form__cbx:checked + label:after {
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  transform: rotate(-45deg);
}
.form__cbx:focus + label:before {
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
}
.list-header-person {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #323C47;
  .list-header-photo {
    width: 24px;
    height: 24px;
    background: #C4C4C4;
  }
}
.mini__photo {
  border-radius: 50%;
  margin-right: 12px;
}
tr{
  padding: 0 24px;
}
th {
  padding-left: 14px;
  height: 48px;
}
td {
  padding-left: 14px;
  border-top: 1px solid #EBEFF2;
  height: 64px;
  cursor: pointer;
}
.numberDay {
  border: none;
}
.last__td {
  padding-right: 24px;
  text-align: right;
}
.row-1 {
  text-align: left;
}
.header-line {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #334D6E;
}
.header-text {
  opacity: 0.5;
}
.info-line {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #707683;
  &:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
}
.profile__name {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #323C47;
}
/*THIS JS*/
.goSidebar{
  position: fixed;
  width: 80px;
  transition: .2s;
}
.sidebarInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profileMnuItem {
  display: none;
}
//THIS_THIS
.deleted:hover .basket {
  fill: $red;
}
.deleteted-box {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.deleteted-box:hover .deletCbx{
  fill: $red;
}
.wrapperSpan {
  display: flex;
  justify-content: center;
}

.selectedInfo {
  margin-right: 15%;
  display: flex;
  align-items: center;
}
.hide {
  display: none;
}
.hovered {
  background: #D1D8E2;
}
//MOBILE DEVICE
@media screen and (max-width: 1085px) {
  .contact-wrapper {
    padding: 0px;
  }
  .content {
    position: inherit;
  }
  .sidebar {
    width: 68px;
  }
  .sidebar-name-inner {
    width: 68px;
    margin: 0;
    display: flex;
    text-align: center;
  }
  .progres-wrap {
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
    //margin-bottom: 24px;
    margin-left: 0;
  }
  .stat {
    //box-shadow: none;
    margin: 24px 0 24px 12px;
  }
  .progres-calendar-wrapper {
    margin: 0 12px 24px 0;
  }
  .base-wrapper {
    margin: 24px;
  }
  .base-wrapper {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .drag-drop-wrapper {
    padding: 0;
  }
  .calendar {
    margin: 24px 12px 0 0;
    width: 100%;
    height: 100vh;
    //box-shadow: none;
  }
  .mnu-item__name {
    display: none;
  }
  .toggle-wrap {
    display: flex;
  }
  .profile-block {
    display: none;
  }
  .profile, .mnu-item  {
    justify-content: center;
  }
  .stat {
    width: 100%;
  }
  .container {
    margin-left: 68px;
  }
}
@media screen and (max-width: 756px) {
  .progres-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .stat, .progres-calendar-wrapper {
    margin: 24px 0 0 0;
  }
  .toggle-wrap {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .container {
    margin: 60px 0 20px 0;
  }
  .sidebar-name-inner {
    display: none;
  }
  .content {
    padding: 0;
  }
  .toggle-wrap {
    display: none;
  }
  .sidebar-name-inner {
    display: none;
  }
  .calendar-wrapper {
    border-bottom: 1px solid #EBEFF2;
  }
  .sidebar {
    position: fixed;
    right: 0;
    width: 100%;
    align-items: center;
  }
  .sidebar-container {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    background: $white;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    border: none;
    width: 100%;
  }
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .profile__name {
    display: none;
    align-items: center;
  }
  .mnu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mnu-item__name, .profile__email {
    display: none;
  }
  .sidebar-name-inner {
    border-bottom: none;
    padding: 0;
  }
  .profile-container {
    border: none;
    padding: 0;
    width: 60%;
  }
  .progres-wrap {
    margin: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    //flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .calendar, .stat, .dd-wrap {
    margin-top: 24px;

  }
  .dd-wrap {
    margin-bottom: 24px;
    //box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  }
  .profile {
    display: none;
    .profile-info{
      display: none;
      .profile-block {
        padding-left: 9px;
        .profile__email {
          font-size: 11px;
        }
      }
    }
  }
  .mnu, .setting-wrap {
    font-size: 13px;
    line-height: 19px;
  }
  .mnu {
    width: 100%;
  }
  .mnu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 0;
  }
  .setting-wrap {
    display: flex;
  }
  .setting-wrap{
    padding-left: 0px;
  }
  .toggle-wrap {
    padding-left: 0px;
    position: relative;
    bottom: 0;
  }
  .progres-wrap {
    padding: 0;
    margin: 0;
  }
  .stat {
    width: 100%;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  }
  .diagram-header {
    border: none;
  }
  .sidebar-name-inner {
    display: none;
  }
  //БУРГЕР
  .btn-mnu {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    opacity: .5;

    & .burger, & .burger:before, & .burger:after {
      position: absolute;
      width: 25px;
      height: 3px;
      top: 50%;
      background: #334D6E;
      border-radius: 5%;
    }
    & .burger::before,
    & .burger::after{
      content: '';

    }
    & .burger::after {
      transform: translateY(-11px);
    }
    & .burger::before {
      transform: translateY(8px);
    }
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .header {
    width: 100%;
  }
  .base-wrapper {
    margin: 0;
  }
  .calendar{
    padding: 0;
  }

  .sidebar, .sidebar-container {
    display: flex;
    position: fixed;
    height: 20px;
    right: 0;
    justify-content: space-around;
    align-items: center;
    background: $white;
    box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 10px 0;
    width: 100%;
  }
  .sidebar-name-inner {
    display: none;
  }
  .profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .profile__name {
    display: none;
    align-items: center;
  }
  .mnu {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mnu-item__name, .profile__email {
    display: none;
  }
  .sidebar-name-inner {
    border-bottom: none;
    padding: 0;
  }
  .profile-container {
    border: none;
    padding: 0;
    width: 60%;
  }
  .profile {
    display: none;
    .profile-info{
      display: none;
      .profile-block {
        padding-left: 9px;
        .profile__email {
          font-size: 11px;
        }
      }
    }
  }
  .mnu, .setting-wrap {
    font-size: 13px;
    line-height: 19px;
  }
  .mnu {
    width: 100%;
  }
  .mnu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    padding: 0;
  }
  .setting-wrap {
    display: flex;
  }
  .setting-wrap{
    padding-left: 0px;
  }
  .toggle-wrap {
    padding-left: 0px;
    position: relative;
    bottom: 0;
  }
  .contact-wrapper {
    padding: 0px;
  }
  //  CONTACT
  .contact-command {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 10px 0 10px;
  }
  .contact-sort {
    display: flex;
    font-weight: normal;
    font-size: 	0.750em;
    line-height: 1.125em;
    letter-spacing: 0.01em;
    color: #6A707E;
    cursor: pointer;
  }
  .contact-inner {
    padding-top: 0px;
  }
  .contact-list {
    border-radius: 0;
    background: #FFFFFF;
    width: 100%;
    margin-bottom: 100px;
  }
  .list-header {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.813em;
    line-height: 1.188em;
    letter-spacing: 0.01em;
    color: #334D6E;
    opacity: 0.5;
    padding: 22px 24px 22px 24px;
  }
  .list-cheackbox__sort {
    cursor: pointer;
  }
  .row-space {
    display: flex;
    align-items: center;
  }
  .row-space-cbx {
    display: flex;
    align-items: center;
  }
  .list-header-person {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 0.938em;
    line-height: 1.375em;
    letter-spacing: 0.01em;
    color: #323C47;
    .list-header-photo {
      width: 24px;
      height: 24px;
      background: #C4C4C4;
    }
  }
  .mini__photo {
    border-radius: 50%;
    margin-right: 0px;
  }
  tr{
    padding: 0 24px;
  }
  th {
    padding-left: 14px;
    height: 48px;
    //align-items: center;
  }
  td {
    padding-left: 14px;
    border-top: 1px solid #EBEFF2;
    height: 64px;
    cursor: pointer;
  }
  .last__td {
    padding-right: 24px;
    text-align: right;
  }
  .row-1 {
    text-align: left;
  }
  .header-line {
    font-weight: 500;
    font-size: 0.813em;
    line-height: 1.188em;
    letter-spacing: 0.01em;
    color: #334D6E;
  }
  .header-text {
    opacity: 0.5;
  }
  .info-line {
    font-weight: normal;
    font-size: 0.813em;
    line-height: 1.188em;
    letter-spacing: 0.01em;
    color: #707683;
    &:hover {
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .profile__name {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #323C47;
  }
  //БУРГЕР
  .btn-mnu {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    opacity: .5;

    & .burger, & .burger:before, & .burger:after {
      position: absolute;
      width: 25px;
      height: 3px;
      top: 50%;
      background: #334D6E;
      border-radius: 5%;
    }
    & .burger::before,
    & .burger::after{
      content: '';

    }
    & .burger::after {
      transform: translateY(-11px);
    }
    & .burger::before {
      transform: translateY(8px);
    }
  }
  .header,  .content {
    width: 100%;
    left: 0;
  }
  .header .search-string, .header .notification {
    margin: 0;
  }
  .header {
    padding: 0 10px;
  }
}

@media screen and (max-width: 974px){
  .contact-wrapper, .contact {
    padding: 0;
  }
  //th {
  //  display: none;
  //}
  .info-line {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    border: 1px solid #EBEFF2;
  }
  td {
    display: flex;
    align-items: center;
    border: none;
  }
}
@media screen and (max-width: 776px){
  .progres-wrap {
    margin-bottom: 24px;
  }
  .stat {
  }
  .content {
    position: inherit;
  }
}
//--------------------------------------